{% extends '_base.html.twig' %}

 {% block pageTitle %}About page{% endblock %}

 {% block main %}

     <h1>Cart List</h1>

     <table>
         <tr>
             <th>ID</th>
             <th>Author</th>
             <th>Year</th>
             <th>Title</th>
             <th>Publisher</th>
             <th>Place</th>
         </tr>

         <td>{{ refs.id}}</td>
         <td>{{ refs.author}}</td>
         <td>{{ refs.year}}</td>
         <td>{{ refs.title}}</td>
         <td>{{ refs.publisher}}</td>
         <td><a href="{{ refs.place}}">{{ refs.place}}</a></td>
     </table>

 {% endblock %}